{% extends '@Etl/layout.html.twig' %}

{% block body %}
    <h4>{{ "content.generate"|trans }}</h4>

    <a href="{{ path("product_generate", {"name": "iPhone 5S szary"}) }}" class="btn btn-success">iPhone 5S szary</a>
    <a href="{{ path("product_generate", {"name": "Nikon D32000 czarny"}) }}" class="btn btn-info">Nikon D32000 czarny</a>
    <a href="{{ path("product_generate", {"name": "Toshiba P75-A7200"}) }}" class="btn btn-danger">Toshiba P75-A7200</a>

    <form method="post" action="{{ path('product_form_generate') }}" role="form" class="form-horizontal">
        <fieldset class="col-md-12">
            <div class="form-group">
                <label>{{ "form.name.label"|trans }}</label>
                <input type="text" class="form-control input-lg" name="product-name" placeholder="{{ 'form.name.placeholder'|trans }}"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">{{ "search"|trans }}</button>
            </div>
        </fieldset>
    </form>

    <h3>{{ 'products_saved_in_db'|trans }}</h3>
    <div class="products">
        {% for product in products %}
            <div class="row product">
                <div class="image col-md-2">
                    <img src="{{ product.image.uri }}" />
                </div>
                <div class="info col-md-10">
                    <h4>
                        <a href="{{ path('product_generate', {'name': product.name}) }}">{{ product.name }}</a>
                    </h4>
                    <ul>
                        <li>Ilość opinit: {{ product.comments.count }}</li>
                        <li>Ilość funkcji: {{ product.features.count }}</li>
                    </ul>
                    <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn btn-sm btn-danger">Usuń</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}